<html>
<head>
    <link rel="stylesheet" href="{{ asset('materialize/bin/materialize.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <script type="text/javascript" src="{{ asset('materialize/bin/materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.pack.js') }}"></script>
</head>
<body>
{% if rootline|length %}
    <p>rootline:</p>
    <ul>
        {% for segment in rootline %}
            {% if loop.last == false %}
                <li><a href="{{ base_url }}{{ segment.itemPath }}">{{ segment.label }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% if directories|length %}
    <p>Unterordner:</p>
    <ul>
        {% for directory in directories %}
            <li><a href="{{ base_url }}{{ directory.itemPath }}">{{ directory.label }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
<h1>{{ currentPath }}</h1>
<div class="wrap">
{% for item in items %}
    <div class="box">
        <div class="boxInner">
            <a href="{{ publicUrl(item) }}" data-fancybox-group="gallery"><img src="{{ publicUrl(item, 400, 400) }}" alt="{{ item.label }}" title="{{ item.label }}" /></a>
        </div>
    </div>
{%  endfor %}
</div>
</body>
</html>