<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/materialize.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('swipebox/src/css/swipebox.css') }}">
    <script type="text/javascript" src="{{ asset('jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('materialize/bin/materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('main.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="col s12 m12 l3">
            {% if rootline|length %}
                <ul class="breadcrumbs">
                    {% for segment in rootline %}
                        {% if loop.last == false %}
                            <li><a href="{{ base_url }}{{ segment.itemPath }}">{{ segment.label }}</a></li>
                        {% else %}
                            <li class="active"><strong>{{ segment.label }}</strong></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if directories|length %}
                <ul class="folders">
                    {% for directory in directories %}
                        <li>
                            <a class="waves-effect deep-orange accent-4 btn" href="{{ base_url }}{{ directory.itemPath }}">{{ directory.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
        <div class="gallery col s12 m12 l9">
            <h3>{{ currentPath }}</h3>
            <div class="row">
                {% for item in items %}
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image activator">
                                <a href="{{ publicUrl(item) }}" class="swipebox" rel="gallery">
                                    <img src="{{ publicUrl(item, 400, 400) }}" alt="{{ item.label }}" title="{{ item.label }}" />
                                </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ item.label }} <i class="mdi-navigation-more-vert right"></i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ item.label }} <i class="mdi-navigation-close right"></i></span>
                                <div class="row">
                                    <div class="col s5">
                                        <a href="{{ publicUrl(item) }}" class="swipebox" rel="gallery_reveal">
                                            <img src="{{ publicUrl(item, 400, 400) }}" alt="{{ item.label }}" title="{{ item.label }}" />
                                        </a>
                                        <p class="modify-image-actions">
                                            <i class="mdi-content-undo"></i>
                                            <i class="mdi-content-redo"></i>
                                            <i class="mdi-action-visibility-off"></i>
                                        </p>
                                    </div>
                                    <div class="col s7">
                                        <p>
                                            {% if item.exifData %}
                                                {% if item.exifData.DateTime %}
                                                    <i class="mdi-action-schedule"></i> {{ item.exifData.DateTime }}<br>
                                                {% endif %}
                                                {% if item.exifData.Model %}
                                                    <i class="mdi-image-camera-alt"></i> {{ item.exifData.Model }}<br>
                                                {% endif %}
                                                {% if item.exifData.ExifImageWidth %}
                                                    <i class="mdi-image-nature-people"></i> {{ item.exifData.ExifImageWidth }} x {{ item.exifData.ExifImageLength }}<br>
                                                {% endif %}
                                            {% else %}
                                                no data
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {% if item.exifData.GPSLatitudeRef %}
                                        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Husum&zoom=12&size=400x200&sensor=false" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.swipebox').swipebox();
    });
</script>
</body>
</html>